.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.dropdown {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  /* text-transform: uppercase; */
  outline: none;
  cursor: pointer;
}

.add-details {
  display: flex;
  flex-direction: column;
}

.header-modal {
  display: flex;
  flex-direction: row;
}

.header-modal-heading {
  justify-content: flex-start;
  width: 95%;
}

.navbar-item-admins {
  border: 1px solid green;
}

.navbar-item-Icon {
}

.navbar-item-user {
  display: flex;
  flex-direction: column;
}
